<div class="intro md:h-[600px]">
    <div>
        <app-navbar></app-navbar>
    </div>

<div class="grid grid-cols-3 relative md:p-6">
    <div class="grid md:col-span-1">
      <div class="text-[170px] text-[#D3D3D3] font-extrabold">
        Sneakify
      </div>
      <div class="md:mt-[-200px] ml-[150px]">
        <button class="w-[150px] h-[80px] bg-[#D3D3D3] rounded-full" (click)="logData()">
            Shop now
        </button>
    </div>
    </div>
    <div class="grid md:col-span-2 md:mt-[-100px] md:mr-[-100px]">
        <img src="../../assets/images/shoe2.png" >
    </div>
</div>



</div>