<div class="intro md:h-[600px] h-[600px]">
    <div>
        <app-navbar></app-navbar>
    </div>

<div class="grid grid-rows-4 md:grid-cols-3 relative md:p-6">
    <!-- <div class="md:text-[170px] text-[40px] sm:ml-5 sm:text-center  text-[#D3D3D3] font-extrabold">
        Sneakify
      </div>
    <div class="grid md:col-span-2 md:mt-[-100px] md:mr-[-100px] ">
        <img src="../../assets/images/shoe2.png" >
    </div>
    <div class="md:mt-[-200px] md:ml-[150px] md:relative ">
        <button class="w-[150px] h-[80px] bg-[#D3D3D3] rounded-full" (click)="logData()">
            Shop now
        </button>
    </div> -->
    <div class="md:text-[170px] text-[40px] ml-5 sm:text-center  text-[#D3D3D3] font-extrabold">
        Sneakify
      </div>

      <div class="grid mt-[-170px] md:col-span-2 md:mt-[-100px] md:mr-[-100px] ">
        <img src="../../assets/images/shoe2.png" >
    </div>

    <div class="md:mt-[-400px] md:ml-[150px] md:relative mt-[-20px] grid justify-center ">
        <button class="w-[150px] h-[80px] bg-[#D3D3D3] rounded-full" (click)="logData()">
            Shop now
        </button>
    </div>
</div>



</div>