@tailwind base;
@tailwind components;
@tailwind utilities;

/* .drawer-container {
    width: 500px;
    height: 300px;
    border: 1px solid rgba(0, 0, 0, 0.5);
  }
  
  .drawer-content {
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: center;
  }
  
  .example-sidenav {
    padding: 20px;
  } */
  .toolbar{
    background-color: rgba(0, 0, 0, 0);
    font-size: 13px;
}