<div *ngIf="platform=='desktop'" class="col-span-2 justify-end">
    <mat-grid-list cols="5">
        <mat-grid-tile class="grid">
            <a href="#" class="h-[30px] w-[70px] text-center rounded-full hover:bg-[#D0D314] bg-[#D3D3D3]">
                Home
            </a>
        </mat-grid-tile>
        <mat-grid-tile class="grid">
            <a href="#" class="h-[30px] w-[70px] text-center rounded-full hover:bg-[#D0D314] bg-[#D3D3D3]">
                Popular
            </a>
        </mat-grid-tile>
        <mat-grid-tile class="grid">
            <a href="#" class="h-[30px] w-[70px] text-center rounded-full hover:bg-[#D0D314] bg-[#D3D3D3]">
                Cart
            </a>
        </mat-grid-tile>
        <mat-grid-tile class="grid">
            <a href="#" class="h-[30px] w-[70px] text-center rounded-full hover:bg-[#D0D314] bg-[#D3D3D3]">
                Login
            </a>
        </mat-grid-tile>
        <mat-grid-tile class="grid">
            <a href="#" class="h-[30px] w-[70px] text-center rounded-full hover:bg-[#D0D314] bg-[#D3D3D3]">
                Signup
            </a>
        </mat-grid-tile>
    </mat-grid-list>
</div>
