<div class="grid justify-center w-[100%]">
        <h3 class="text-3xl font-bold text-center mt-[40px] text-white">
            Top Brands
        </h3>

    <div class=" md:mt-[40px] h-[200px] md:w-[1200px]">
        <mat-grid-list class="" cols="12"  >
            <mat-grid-tile class="h-[80px] w-[80px]" *ngFor="let brand of brands">
                
                <button class="w-[70px] h-[70px]" (click)="logData(brand.name)">
                    <img class="h-[80px] w-[80px]" src={{brand.url}}  >
                   </button>
        
            </mat-grid-tile>
        </mat-grid-list>
        <mat-grid-list></mat-grid-list>
       <button>
           click
       </button>
    </div>

</div>

